body {
    margin: 0;
    padding: 0;
    font: 12px normal Arial, Helvetica, sans-serif;
    background: #ddd;
}
/* menu */
.nav {
    text-align: center;
    width: 100%;  
    border: solid 1px rgb(200, 200, 200);  /* background-color: rgb(111, 111, 111); */  display: block;  
    /* zoom: 1; */  
    /* float: left; */  
    padding: 7px 0px 7px 0px;  
    margin-top: 10px;  
    margin-bottom: 10px;
    border-radius: 6px;
}

.nav a {
    vertical-align: middle;  
    padding: 5px 5px 5px 10px;  
    color: #666666;  
    text-decoration: none;  
    text-transform: uppercase;  
    font-weight: 600;;
}

.nav a:hover, .nav .chosen {
    background-color: #666666;  
    color: #FFFFFF;  
    text-decoration: none;
    border-radius: 5px;
}
/* filter */
.filter {
	/* padding: 0px; */    
	border: solid 1px rgb(200, 200, 200);  
	/* background-color: rgb(111, 111, 111); */  
	display: block;  /* zoom: 1; */  /* float: left; */    
	/* margin-top: 10px; */  /* margin-bottom: 10px; */  
	border-radius: 6px;
	/* padding: 0px; */
	margin-bottom: 10px;
}
.filter form {
	margin: 0px;
}

.filter table {
	text-align: center;
	width: 40%;
	margin: 0 auto;
	margin-bottom: 0px;
}


/* table */
table {
	/* margin-top: 10px; */
    width: 100%;
    
	/* color: #666; */
    
	font-size: 12px;
}
table th {
    padding: 5px;
    background: rgb(102, 102, 102);
    color: white;
    
}
table td {
    font-size: 12px;
    padding: 5px;
    /* border-top: 1px solid #ffffff; */
    /* border-bottom: 1px solid #e0e0e0; */
    /* border-left: 1px solid #e0e0e0; */
    /* vertical-align: initial; */
    /* background: #fafafa; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa)); */
}
table .find_string {
    text-align: center; 
}
table .find_string td {
    border-bottom: 1px dashed #e0e0e0;
    border-left: 1px dashed #e0e0e0;
    /* border-style: dashed; */
}
table .find_string a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
table .find_string a:hover {
	 text-decoration: underline;
}

table .find_string:hover {
    background-color: #DDDDDD;
}

table #left_bold {
    text-align: left;
	font-weight: bold;
}

/* Table sort */
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	padding-right: 15px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #A5A5A5;
}

/* Server block */
.server_block {
    display: inline-block;
	text-align: center;
	/* width: 50%; */
	border: dashed 2px rgb(194, 194, 194);
	/* background-color: rgb(111, 111, 111); */
	padding: 7px 7px 7px 7px;
	margin: 10px;
	border-radius: 10px;
}

.server_block span {
	border-bottom-color: #b0b0b0;
	/* border-bottom-style: inset; */
	/* border-bottom-width: 3px; */
	font-size: 20px;
	/* margin-top: 40px; */
	/* margin-right: 50%; */
	/* color: black; */
	padding: 5px 0px;
}

.content {
    margin: auto;
    width: 70%;
    height: 100%;
    display: table;
    /* padding: 0; */
    background: #FFF;
    padding: 10px;
    position: relative;
    
}
.content .header_left {
	/* float: left; */
	
    
}
.content .header_left p {
	margin-top: 0px;
	color: rgb(134, 134, 134); 
	margin-bottom: 0px;
}

.content .header_right {
    float: right;
}
.content .header_right span b {
	color: rgb(247, 82, 82);
}